<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" >
<head th:replace="/fragments/navbase::navhead">

</head>
<body>
<nav th:replace="/fragments/navbase::thenav(${menuoption})"></nav>
<p>Work Experience Form</p>
<form action="/saveworkexp" th:object="${aWorkExp}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
        <label class="control-label col-sm-4">Job Title:</label>
        <div class="col-sm-4">
            <input type="text" th:field="*{jobTitle}" />
            <span th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></span><br />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4">Organization:</label>
        <div class="col-sm-4">
            <input type="text" th:field="*{organization}" />
            <span th:if="${#fields.hasErrors('organization')}" th:errors="*{organization}"></span><br />
        </div>
    </div>
    <select th:field="*{person}">
        <option th:each="eachPerson:${persons}" th:value="${eachPerson.id}"
                th:text="${eachPerson.firstName}"></option>
    </select>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
<span th:replace="/fragments/navbase::scripts"></span>
</body>
</html>